<!-- //enlazar el valor en tiempo real de nuestras variables con el valor ingresado por el usuario -->

<!-- <label for=" ">Nombre</label>
<input type="text" [(ngModel)]="name">

<label for="">Email</label>
<input type="text" pattern=".+@globex\.com"  [(ngModel)]="email" >

<label for="">Numero Telefono</label>
<input type="number" [(ngModel)] ="phoneNumber">

{{name }} - {{email}} - {{phoneNumber}}

<button (click)="sendValues()">Enviar</button> -->

<div >
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
  <input matInput [formControl]="name" type="text"> </mat-form-field>
</div>
